<suite name="All Scenarios">
    <listeners>
        <listener class-name="jw.demo.Listeners.TestListener"/>
        <!--        <listener class-name="jw.demo.Listeners.RetryListener"/>-->
        <!--        <listener class-name="jw.demo.Listeners.CucumberReportListener"/>-->
    </listeners>
    <test name="all">
        <classes>
            <class name="jw.demo.Runner.CucumberRunner"/>
        </classes>
    </test>
</suite>